DEBUG=False
SECRET_KEY=my-secret-key
ALLOWED_HOSTS=*
CORS_ALLOWED_ORIGINS=http://localhost:5173

#postgres settings
PG_NAME=acom_db
PG_USER=postgres
PG_PASSWORD=postgres
PG_HOST=db
PG_PORT=5432

#redis settings
REDIS_HOST=redis
REDIS_PORT=6379

#integrations settings
TELEGRAM_TOKEN=

SLACK_BOT_OAUTH_TOKEN=
SLACK_READ_BOT_MESSAGES=False